* {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

h1 {
    display: grid;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    justify-content: center;
    height: 93vh;
}


.players {
    display: grid;
    grid-row: 1/7;
    align-items: center;
    margin-right: 50px;
    margin-top: 45px;
}

.dot {
    display: grid;
    border: 1px solid #333333;
}


.green { 
    color: green;
}

.blue {
    color: blue;
}

.color {
    background-image: linear-gradient(to right, green, blue);
    border: none;
    height: 4vh;
    font-size: 1em;
    cursor: pointer;
    color: white;
    box-shadow: 5px 5px green;
}

p {
    font-size: 1.5em;
}

.dot-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;
}


.btn {
    justify-content: start;
    align-items: flex-end;
    font-size: 5em;
    position: relative;
    right: 49px;
    top: 74px;
    border: none;
    background: none;
    width: 5vw;
    height: 10vh;
    color: white;
}



