* {
    margin: 0px;
    padding: 0px;
    background: lightblue;
}

.container {
    display: grid;
    justify-content: center;
    height: 94vh;
}

.players {
    display: grid;
    grid-row: 1/7;
    align-items: center;
    margin-right: 50px;
}


.green { 
    color: green;
}

.blue {
    color: blue;
}

p {
    font-size: 1.5em;
}

.dot-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

.dot {
    display: grid;
    border: 2px solid white;
}

.btn {
    justify-content: start;
    align-items: flex-end;
    font-size: 5em;
    position: relative;
    right: 49px;
    top: 74px;
    border: none;
    background: none;
    width: 5vw;
    height: 10vh;
}



